@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;
}

/*  Post content styling */

.post-content p {
    margin-bottom: .5rem
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0
}

.post-content ul li {
    margin: 1.15rem 0 1.15rem 1.3rem;
    list-style-type: circle
}

.post-content ol li {
    margin: 1.15rem 0 1.15rem 1.3rem;
    list-style-type: decimal
}

.post-content a {
    color: #4995c7;
    text-decoration: none
}

.post-content a:hover {
    text-decoration: underline
}

.post-content pre {
    background-color: #1e293b;
    border: 1px solid rgb(61, 69, 83);
    color: #e8e7e7;
    white-space: pre-wrap;
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .5rem
}

.post-content code {
    background-color: #ececec;
    padding: .25rem;
    border-radius: .25rem;
    font-size: .9rem
}

.dark .post-content code {
    background-color: #1e293b;
    border: 1px solid rgb(61, 69, 83)
}

/************************************************************
           Custom Scrollbar
 ************************************************************/

/* Styling the scrollbar globally */
::-webkit-scrollbar {
    width: 12px;
    /* Vertical scrollbar width */
    height: 12px;
    /* Horizontal scrollbar height */
}

/* Styling the track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Light grey track */
    border-radius: 10px;
}

/* Styling the thumb (draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Darker grey for thumb */
    border-radius: 10px;
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker shade when hovering */
}

/* Optional: Styling the scrollbar corner (for both horizontal & vertical) */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
}





/************************************************************
           Switch button
 ************************************************************/

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

/************************************************************
           Terms and Conditions
 ************************************************************/

.terms-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.terms-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.terms-container section {
    margin-bottom: 20px;
}

.terms-container h2 {
    color: #333;
    margin-bottom: 10px;
}

.terms-container p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.terms-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.terms-container ul li {
    margin-bottom: 5px;
}